@using SPT_API.Models
@inject BlazorSPT.Services.CourseService courseService
@inject BlazorSPT.Services.GPAService gpaservice
@using BlazorSPT.Services;


<div>
    <h3>GPA Calculation</h3>
    <table class="table table-striped course-table">
        <thead>
            <tr>
                <th>Select All
                    <input type="checkbox" bind="@SelectAll" @onchange = "ToggleSelectAll"/>
                </th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Unit</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses.OrderBy(c => c.CourseTitle))
            {
                <tr>
                    @* <td><input type="checkbox" bind="@course.isSelected" /></td>//this doesnt select properly lookinto it *@
                    <td>@course.CourseCode</td>
                    <td>@course.CourseTitle</td>
                    <td>@course.CourseUnit</td>
                    <td>@course.Grade</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Your GPA is @GPA </p>
    <button @onclick=FetchGpa>Calculate GPA</button>
</div>



@code {
    private List<CourseModel> courses = new();

    [Inject] private AuthService AuthService { get; set; } = default;

    private StudentModel User;

    private double GPA = 0;

    private async Task FetchGpa()
    {
        GPA = await gpaservice.CalculateGPA();
    }
    private bool SelectAll = true;
    private void ToggleSelectAll()
    {
        SelectAll = !SelectAll;
        foreach (var course in courses)
        {
            course.isSelected = SelectAll;
        }
    }



    protected override async Task OnInitializedAsync()
    {
        try
        {
            User = AuthService.CurrentUser;
            courseService.currentUser = User;
            courses = await courseService.GetCourses();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error fetching courses: {e.Message}");
            courses = new List<CourseModel>();
        }

    }
}
